.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
  border-right: none;
  background-color: #f5feec;
}

.sidenav .mat-toolbar {
  // background: inherit;
  background-color: #03a9f4;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.img-size {
  height: 50px;
  width: 50px;
}

.content {
  @media only screen and (min-width: 960px) {
    padding-left: 210px;
  }
}